@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/museosanscyrl_0-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_0-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/museosanscyrl_1-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_1-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/museosanscyrl_2-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_2-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/museosanscyrl_3-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_3-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

.text-muted {
  color: map-get($baseColors, muted200);
}

.small {
  font-size: 12px;
}