&__toggle {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 10px;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 0;

  @include media ('>=tablet') {
    display: none;
  }

  .bar {
    display: inline-block;
    width: 100%;
    height: 3px;
    background: map-get($baseColors, success);
    margin: 2px 0;
  }
}