&__toolbar {
  @extend %clearfix;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin: 0 0 20px;

  .toolbar-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    @include media ('>=tablet') {
      width: auto;
      margin-bottom: 0;

    }
    &:not(:last-child) {
      @include media ('>=tablet') {
        margin-right: 10px;
      }
      @include media ('>=desktop') {
        margin-right: 25px;
      }
    }

    .dropdown {
      margin: -2px 0 0 2px;
    }

    a {
      @include v-align;
    }
  }
}